tools/*
!tools/README.md
!tools/cc65_config
!tools/tmx2c
tools/tmx2c/*.exe
tools/tmx2c/src/node_modules
!tools/sprite_def2img
tools/sprite_def2img/*.exe
tools/sprite_def2img/src/node_modules
!tools/chr2img
tools/chr2img/*.exe
tools/chr2img/src/node_modules
!tools/zip_readme
graphics/generated/*.png
graphics/generated/*.bmp
rom/*.nes
temp/*
!temp/empty
todo.md