---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-4">
          {% include docs_nav.html %}
        </div>

        <div class="col-md-8">
            <!-- already have the title <h1>{{ page.title }}</h1> -->
            <div id="markdown-content-container">{{ content }}</div>
            <p class="text-center">
              <br />
              {% if page.path == "_docs/README.md" %}
                <a target="_blank" href="{{site.git_edit_address}}/README.md" class="btn btn-default githubEditButton" role="button">
                  <i class="fa fa-pencil fa-lg"></i> Improve this page
                </a>

              {% else %}
                <a target="_blank" href="{{site.git_edit_address}}/{{ page.path | replace:'_docs','guide' }}" class="btn btn-default githubEditButton" role="button">
                  <i class="fa fa-pencil fa-lg"></i> Improve this page
                </a>
              {% endif %}
            </p>
            <hr>
            {% include section_nav.html %}
        </div>

    </div>
</div>

<script type="text/javascript">
  function replaceImages() {
      document.querySelectorAll('[data-emulator-branch]').forEach(node => {
          const div = document.createElement('div');
          div.innerHTML = `<iframe src="https://cpprograms.net/devnull/nez_hosted/index_nes_starter_kit_v2.php?branch=${node.getAttribute('data-emulator-branch')}" style="width: 550px; height: 540px"></iframe>`
          node.replaceWith(div.firstChild)
      });
  }

  window.addEventListener('load', replaceImages);
  replaceImages();
</script>